body {
  background-color: beige;
}

.navTexto {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}

.botonCamara,
.botonUbi {
  border-color: transparent;
  border-radius: 15%;
}

.alto{
  height: 200px;
  overflow: hidden;
  
}
.col-4{
  padding: 2px;
}
