body {
  background-color: beige;
}

.navTexto {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}

.img-fluid {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.img-card {
  width: 100%;
  height: auto;
  object-fit: cover;
}