body {
  background-color: beige;
}

.navTexto {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
}

.botonCamara,
.botonUbi {
  border-color: transparent;
  border-radius: 15%;
}

.alto{
  overflow: hidden;
  height: 15rem;
}

.foto {
  width: 500px;
  height: 300px;
}

.col-4{
  padding: 1px;
}

.col-sm-6{
  padding: 1px;
}